In [1]:
import re
import datetime

In [2]:
datetime.datetime.now().strftime("%Y-%m-%dT%H:%M:%SZ")

'2020-12-22T14:59:34Z'

In [3]:
type(datetime.datetime.now())

datetime.datetime

## Integers

In [4]:
print(10, type(10))
print(100, type(100))
print(-10, type(-10))

10 <class 'int'>
100 <class 'int'>
-10 <class 'int'>

## Float

In [5]:
print(3.14, type(3.14))
print(10.09, type(10.09))
print(-0.01, type(-0.01))

3.14 <class 'float'>
10.09 <class 'float'>
-0.01 <class 'float'>

In [6]:
type(10.0), type(10.), type(.1)

(float, float, float)

## Complex

In [7]:
complex(1, 10)

(1+10j)

In [8]:
type(10 + 1j)

complex

## String

In [9]:
print("hacktiv8", type("hacktiv8"))

hacktiv8 <class 'str'>

In [10]:
"ini string", 'ini juga string', """Ini juga string""", '''Dan ini juga string'''

('ini string', 'ini juga string', 'Ini juga string', 'Dan ini juga string')

In [11]:
print("""Ini baris pertama
Ini baris kedua, dan bisa lanjut sampai baris berikutnya
Ini baris ketiga...
Selesai
""")

Ini baris pertama
Ini baris kedua, dan bisa lanjut sampai baris berikutnya
Ini baris ketiga...
Selesai

In [12]:
print("Ini baris pertama")

Ini baris pertama

In [13]:
1, str(1), .14, str(.14)

(1, '1', 0.14, '0.14')

### String Manipulation

In [14]:
bank_name = "mandiri"
status = "bank"
print(status + " " + bank_name)
batch = " 45"
print(bank_name + batch)
print(bank_name + str(45))
print((bank_name + " ") * 5 + batch)

bank mandiri
mandiri 45
mandiri45
mandiri mandiri mandiri mandiri mandiri  45

In [15]:
bank_name = "bank mandiri"
print("bank" in bank_name)
print("mandiri" in bank_name)
print("hacktiv8" in bank_name)
print(" " in bank_name)

True
True
False
True

In [16]:
bank_name.capitalize()

'Bank mandiri'

In [17]:
len(bank_name)

12

In [18]:
bank_name[0:5]

'bank '

In [19]:
user_id = "jkt_2020.11.11-012380"
print(user_id[2:-7])

t_2020.11.11

In [20]:
re.sub(r"jkt_", "", user_id)

'2020.11.11-012380'

In [21]:
bank_name[-7:-1]

'mandir'

## Boolean

In [22]:
print(False, type(False), True, type(False))

False <class 'bool'> True <class 'bool'>

In [23]:
print(bool(0), bool(1))

False True

In [24]:
print(bool(11), bool(-11), bool(.01), bool(-999.19823), bool(0.000))

True True True True False

In [25]:
print(bool("hacktiv8"), bool(""))   # better
print ( bool ( "hacktiv8") ,bool( "" ) )   # so ugly
print(
    bool("hacktiv8"),
    bool("")
)

True False
True False
True False

In [26]:
my_string = """
this is multiline
with triple double quotes
"""
print(my_string)

this is multiline
with triple double quotes

In [27]:
my_string = (
    "this is a line "
    "with single double quotes. "
    "This sentence, is a continuation "
    "from previous sentence"
)
print(my_string)

this is a line with single double quotes. This sentence, is a continuation from previous sentence

## Variable


javascript -> camelCase -> e.g. namaVariabel, numVariable, countSuccess
python -> snake_case -> e.g. nama_variabel, num_variable, count_success
       -> readable -> not recommended: x, nv, a, i

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [29]:
nama_variabel = 100    # pythonic way
print("nilai variabel:", nama_variabel)

nilai variabel: 100

In [31]:
height = 640
width = 640
print(height, width)

640 640

In [32]:
height = width = axis = 64
print(height, width, axis)

64 64 64

In [33]:
print(height)

64

In [34]:
print(height)

64

In [35]:
name_title = "Hacktiv8"
name_lower = "hacktiv8"
name_title == name_lower

False

In [36]:
_nama_ketua = "hacktiv"
print(_nama_ketua)

hacktiv

In [37]:
9_nama = "what?"

SyntaxError: invalid decimal literal (<ipython-input-37-6e9435d070b1>, line 1)

In [38]:
AGE = 20
print(AGE)

age = AGE
age += 1
print(age)

20
21

In [39]:
name_title.upper(), name_title.lower(), name_lower.title(), "ini judul sebuah novel".title()

('HACKTIV8', 'hacktiv8', 'Hacktiv8', 'Ini Judul Sebuah Novel')

## Mathematical Operations

In [40]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [41]:
print(a + b)
print(a + (b * c), a + b*c)
print(a / b, a // b, 10 / 4, 10 // 4)

30
610 610
0.5 0 2.5 2

In [42]:
print(a ** 2)
print(b % 3)

100
2

## Comparison Operators

In [43]:
print(a == b, a <= b, a >= b, a != b)

False True False True

## List

- mutable sequence

In [44]:
int_list = [1, 2, 3]
print(int_list)
str_list = ["python", "intro"]
print(str_list)
mixed_list = [1, 1.1, "intro", True]
print(mixed_list)
empty_list = []
print(empty_list)
abc_list = list("abc")   # constructor
print(abc_list)

[1, 2, 3]
['python', 'intro']
[1, 1.1, 'intro', True]
[]
['a', 'b', 'c']

In [45]:
print(mixed_list[0], mixed_list[-len(mixed_list)])  # indexing
print(abc_list[0:2], abc_list[-len(abc_list):2-len(abc_list)])  # slicing

1 1
['a', 'b'] ['a', 'b']

In [48]:
int_list[::-1]

[3, 2, 1]

In [49]:
print(int_list)
int_list[-1] *= 10
print(int_list)

[1, 2, 3]
[1, 2, 30]

In [50]:
print(mixed_list)
mixed_list.append('python')
print(mixed_list)

[1, 1.1, 'intro', True]
[1, 1.1, 'intro', True, 'python']

In [51]:
# credits = "transaksi kredit"
# row_1 = [col1, col2, col3, ...]

## Set

In [52]:
names = {"eza", "idfi", "yoanita", "septy", "tiurma", "windi", "windi"}
print(names, type(names))

{'windi', 'eza', 'idfi', 'yoanita', 'tiurma', 'septy'} <class 'set'>

In [53]:
names[0]

TypeError: 'set' object is not subscriptable

In [54]:
duplicated_list = [1, 2, 3, 4, 2, 3, 5, 6, 2, 3]
print("length of list:", len(duplicated_list), duplicated_list)
unique_list = set(duplicated_list)
print("num of unique values:", len(unique_list), "with values:", unique_list)

length of list: 10 [1, 2, 3, 4, 2, 3, 5, 6, 2, 3]
num of unique values: 6 with values: {1, 2, 3, 4, 5, 6}

## Tuple

- immutable

In [55]:
coord = (110, 0.98)
print(coord, type(coord))
tuple_from_list = tuple(mixed_list)
print(tuple_from_list, type(tuple_from_list))

(110, 0.98) <class 'tuple'>
(1, 1.1, 'intro', True, 'python') <class 'tuple'>

In [56]:
print(coord[::-1])
print(tuple_from_list[::-1])

(0.98, 110)
('python', True, 'intro', 1.1, 1)

In [57]:
print(coord)
coord[0] *= 10
print(coord)

(110, 0.98)

TypeError: 'tuple' object does not support item assignment

In [58]:
course_name = "intro to python"
print(course_name, course_name[-1])
course_name[-1] = "m"
print(course_name)

intro to python n

TypeError: 'str' object does not support item assignment

In [59]:
coordinates = 11, 12, 13, 14
print(coordinates, type(coordinates))

(11, 12, 13, 14) <class 'tuple'>

## Dictionary

In [60]:
dict_height = {"jack": 167, "ryan": 190, "paul": 182}
print(dict_height, type(dict_height))

{'jack': 167, 'ryan': 190, 'paul': 182} <class 'dict'>

In [61]:
print("jack's height:", dict_height["jack"])
print("ryan's height:", dict_height["ryan"])

jack's height: 167
ryan's height: 190

In [62]:
dict_transactions = {
    "id": [1, 2, 3],
    "name": ["jack", "ryan"],
    "amount": [100, 88, 94],
    "coord": [(20, 199), (19, 211)]
}
print(dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 94], 'coord': [(20, 199), (19, 211)]}

In [63]:
print(dict_transactions["name"][::-1])
print(dict_transactions["amount"][1:])
dict_transactions["amount"] = [110, 95]
print(dict_transactions)

['ryan', 'jack']
[88, 94]
{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95], 'coord': [(20, 199), (19, 211)]}

In [64]:
dict_transactions["coord"][0][0]

20

In [65]:
dict_transactions.keys(), dict_transactions.values()

(dict_keys(['id', 'name', 'amount', 'coord']),
 dict_values([[1, 2, 3], ['jack', 'ryan'], [110, 95], [(20, 199), (19, 211)]]))

In [66]:
dict_transactions.items()

dict_items([('id', [1, 2, 3]), ('name', ['jack', 'ryan']), ('amount', [110, 95]), ('coord', [(20, 199), (19, 211)])])

In [67]:
dict_transactions["age"]

KeyError: 'age'

In [68]:
dict_transactions.get("amount", "not found")

[110, 95]

In [69]:
None

In [70]:
dict_transactions.get("age", "not found")

'not found'

"age" -> "ages"

In [71]:
age = [18, 17, 19]
print(age)
umur = {20, 21, 22, 25}
print(umur, type(umur))

age += list(umur)
print(age)

[18, 17, 19]
{25, 20, 21, 22} <class 'set'>
[18, 17, 19, 25, 20, 21, 22]

In [72]:
ages = age
print(ages)

[18, 17, 19, 25, 20, 21, 22]

In [73]:
age.extend(umur)

In [74]:
age

[18, 17, 19, 25, 20, 21, 22, 25, 20, 21, 22]