# Control Flow

## Conditional Statements

In [1]:
book_price = 500000
magazine_price = 10000
money = 20000

if money > book_price:
    print("buy a book!")
elif money > magazine_price:
    print("buy a magazine!")
else:
    print("Gather some money first!")

buy a magazine!

In [2]:
book_price = 500000
magazine_price = 10000
money = 20000

is_buy_book = money > book_price
is_buy_magazine = money > magazine_price

if is_buy_book:
    print("buy a book!")
elif is_buy_magazine:
    print("buy a magazine!")
else:
    print("Gather some money first!")

buy a magazine!

In [3]:
is_raining = False

if is_raining:
    print("stay at home")
else:
    print("do something!")

do something!

In [4]:
what_to_do = "stay at home" if is_raining else "do something"  # oneliner code
print(what_to_do)

list_names = ["eza", "idfi taniya", "yoanita", "septy", "tiurma", "windi"]
student = "taniya"
if student in list_names:
    print("student is valid!")
else:
    print("student is not valid! Who are you?")

do something
student is not valid! Who are you?

In [5]:
"i" in list("idfi taniya"), "i" in "idfi taniya"

(True, True)

In [6]:
print("taniya" in "idfitaniya")
print("taniya" in "idfi taniyakusuma")

True
True

## While Loop

In [7]:
idx = 0
while idx < len(list_names):
    print(idx, list_names[idx])
    idx += 1

0 eza
1 idfi taniya
2 yoanita
3 septy
4 tiurma
5 windi

In [8]:
list_names = ["eza", "idfi taniya", "yoanita", "septy", "tiurma",
              "windi", "idfitaniya", "idfi taniyakusuma"]
list_taniya = []

idx = 0
while idx < len(list_names):
    student = list_names[idx]
    print("processing:", student)
    print(list_taniya)
    if "ani" in student:
        list_taniya.append(student)
    idx += 1

print("taniya in students:", list_taniya)

processing: eza
[]
processing: idfi taniya
[]
processing: yoanita
['idfi taniya']
processing: septy
['idfi taniya', 'yoanita']
processing: tiurma
['idfi taniya', 'yoanita']
processing: windi
['idfi taniya', 'yoanita']
processing: idfitaniya
['idfi taniya', 'yoanita']
processing: idfi taniyakusuma
['idfi taniya', 'yoanita', 'idfitaniya']
taniya in students: ['idfi taniya', 'yoanita', 'idfitaniya', 'idfi taniyakusuma']

In [9]:
list_names = ["eza", "idfi tAnIya", "yoanita", "septy", "tiurma",
              "windi", "idfiTaniya", "idfi taniyAkusuma"]
list_taniya = []

idx = 0
while idx < len(list_names):
    student = list_names[idx]
    idx += 1
    if "taniya" in student.lower():
        list_taniya.append(student)
        continue
    print("processing:", student)

print("taniya in students:", list_taniya)

processing: eza
processing: yoanita
processing: septy
processing: tiurma
processing: windi
taniya in students: ['idfi tAnIya', 'idfiTaniya', 'idfi taniyAkusuma']

In [10]:
list_names = ["eza", "idfi tAnIya", "yoanita", "septy", "tiurma",
              "windi", "idfiTaniya", "idfi taniyAkusuma"]
list_taniya = []

idx = 0
while idx < len(list_names):
    student = list_names[idx]
    idx += 1
    if "taniya" in student.lower():
        list_taniya.append(student)
        break
    print("processing:", student)

print("taniya in students:", list_taniya)

processing: eza
taniya in students: ['idfi tAnIya']

## For Loop

In [11]:
list_taniya = list()
for student in list_names:
    if "taniya" in student.lower():
        list_taniya.append(student)
        continue
    print(f"taniya not found in {student}")
print(list_taniya)

taniya not found in eza
taniya not found in yoanita
taniya not found in septy
taniya not found in tiurma
taniya not found in windi
['idfi tAnIya', 'idfiTaniya', 'idfi taniyAkusuma']

In [12]:
dict_transactions = {
    "id": [1, 2, 3],
    "name": ["jack", "ryan"],
    "amount": [100, 88, 94],
    "coord": [(20, 199), (19, 211)]
}
print(dict_transactions.items())

dict_items([('id', [1, 2, 3]), ('name', ['jack', 'ryan']), ('amount', [100, 88, 94]), ('coord', [(20, 199), (19, 211)])])

In [13]:
coord = 110, 19
print(coord, type(coord))
x, y = list(coord)
print(f"x = {x}, y = {y}")

(110, 19) <class 'tuple'>
x = 110, y = 19

In [14]:
for i, j in dict_transactions.items():
    print(f"{i}: {j}")
    print("masih satu block")
print("diluar block")

id: [1, 2, 3]
masih satu block
name: ['jack', 'ryan']
masih satu block
amount: [100, 88, 94]
masih satu block
coord: [(20, 199), (19, 211)]
masih satu block
diluar block

In [15]:
for key, _ in dict_transactions.items():
    print(f"{key}: {dict_transactions[key]}")
    print("masih satu block")

for key in dict_transactions.keys():
    print(f"{key}: {dict_transactions[key]}")
    print("masih satu block")
    
for value in dict_transactions.values():
    print(value)

id: [1, 2, 3]
masih satu block
name: ['jack', 'ryan']
masih satu block
amount: [100, 88, 94]
masih satu block
coord: [(20, 199), (19, 211)]
masih satu block
id: [1, 2, 3]
masih satu block
name: ['jack', 'ryan']
masih satu block
amount: [100, 88, 94]
masih satu block
coord: [(20, 199), (19, 211)]
masih satu block
[1, 2, 3]
['jack', 'ryan']
[100, 88, 94]
[(20, 199), (19, 211)]

In [16]:
for idx, _ in enumerate(list_names):
    print(idx, ".. sama aja dengan:", list_names[idx])

0 .. sama aja dengan: eza
1 .. sama aja dengan: idfi tAnIya
2 .. sama aja dengan: yoanita
3 .. sama aja dengan: septy
4 .. sama aja dengan: tiurma
5 .. sama aja dengan: windi
6 .. sama aja dengan: idfiTaniya
7 .. sama aja dengan: idfi taniyAkusuma

In [17]:
range(10), range(1, 10)

(range(0, 10), range(1, 10))

In [18]:
dates = "2020-08-01"

In [19]:
dates = ["2020-08-01", "2020-07-01"]
all_dates = []

for date in dates:
    monthly = []
    day = int(list(date.split("-")[-1])[-1])
    month = int(list(date.split("-")[1])[-1])
    while day <= 31:
        day += 1
        if day < 10:
            monthly.append("2020-0" + str(month) + "-0" + str(day))
        else:
            monthly.append("2020-0" + str(month) + "-" + str(day))
    all_dates.append(monthly)

In [20]:
all_dates[1]

['2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-07-32']

In [21]:
from datetime import datetime, timedelta

In [22]:
now = datetime.now()
print(now)

2020-12-22 15:01:49.617068

In [23]:
(now + timedelta(days=7))

datetime.datetime(2020, 12, 29, 15, 1, 49, 617068)